/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --deep-purp: #5002A3;
    --light-purp: #F2E8FC;
    --mid-purp: #A360EB;
    --yellow-accent: #F0EF13;
    --black: #000;
    --white: #fff;
    --off-white: #F9F1FB;
}

body {
    background-color: var(--deep-purp);
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 4rem;
    color: var(--white);
    font-weight: 700;
}

p {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 300;
    row-gap: 10px;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--yellow-accent);
    transform: scale(1.2);
}

a:visited {
    color: var(--mid-purp);
}

.project-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(100px, 1fr));
    grid-template-rows: repeat(12, minmax(75px, 1fr));
}

.project-container > div:nth-child(odd) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--deep-purp);
    gap: 15px;
}

.header {
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
}

.body {
    grid-column: 1 / span 12;
    grid-row: 3 / span 8;
    padding: 15px 25px;
    background-color: var(--off-white);
}

.footer {
    grid-column: 1 / span 12;
    grid-row: 11 / span 2;
}

/*Calc display font: {font-family: 'VT323', monospace;} */

